* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1-main {
  background-color: indigo;
  padding: 1rem;
  margin: 0rem 1rem 0rem 1rem;
  border-radius: 7px;
}

.h1-text {
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}


.main-content {
height: 87vh;
margin: 3rem 1rem 0rem 1rem;
background-color: indigo;
border: whitesmoke;
border-radius: 7px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a {
  color: aliceblue;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0% 30% 0% 30%;
}

.h2 {
  border-bottom: 2px solid whitesmoke;
  border-radius: 2px;
  padding: 4px;
}

.variabel {
  display: grid;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.201);
  border: 1.3px solid whitesmoke;
  border-radius: 6px;
  margin: 1.5rem 30% 0% 30%;
  padding: 1rem 0px 1rem 0px;
}

.text {
  color: aliceblue;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.input-1 {
  border-radius: 7px;
  height: 25px;
  border: 1px solid white;
  background-color: indigo;
  margin-top: 4px;
  color: whitesmoke;
}

.input-1:hover{
  transition: 900ms;
  background-color: rgba(245, 245, 245, 0.224);
}

.btn-sub {
  border-radius: 9px;
  padding: 0.6rem;
  background-color: rgba(76, 0, 130, 0.347);
  border: 0.5px solid whitesmoke;
  color: white;
  transition: all;
}

.btn-sub:hover {
  transition-duration: 600ms;
  color: whitesmoke;
  background-color: rgba(220, 20, 60, 0.731);
}

#hasil {
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 9px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}